<div class="blog-index">
  <ul class="sections">
    <li class="section">
      <a href="/software-design/" class="underline">Software Design</a>
      <ul class="sub">
        <li>
          <a href="/software-architecture/" class="underline">Architecture</a>
        </li>
        <li>
          <a href="/software-quality/" class="underline">Quality</a>
        </li>
      </ul>
    </li>
    <li class="section">
      <a href="/systems-design/" class="underline">Systems Design</a>
      <ul class="sub">
        <li>
          <a href="/high-availability/" class="underline">High Availability</a>
        </li>
        <li>
          <a href="/fail-tollerance/" class="underline">Fail Tollerance</a>
        </li>
      </ul>
    </li>
    <li class="section">
      <a href="/engineering-management/" class="underline">Engineering Management</a>
      <ul class="sub">
        <li>
          <a href="/leadership/" class="underline">Leadership</a>
        </li>
      </ul>
    </li>
    <li class="section">
      <a href="/project-management/" class="underline">Project Management</a>
      <ul class="sub">
        <li>
          <a href="/agile/" class="underline">Agile</a>
        </li>
        <li>
          <a href="/scrum/" class="underline">SCRUM</a>
        </li>
        <li>
            <a href="/kanban/" class="underline">Kanban</a>
          </li>
      </ul>
    </li>
  </ul>
</div>
