<ul class="cf share">
  <li class="text">
    Share on
  </li>
  <li class="button">
    <amp-social-share type="twitter" width="24" height="24"></amp-social-share>
  </li>
  <li class="button">
    <amp-social-share type="linkedin" width="24" height="24"></amp-social-share>
  </li>
  <li class="button">
    <amp-social-share
      type="facebook"
      width="24"
      height="24"
      data-param-app_id="{{ site.facebook.app_id }}">
    </amp-social-share>
  </li>
  <li class="button">
    <amp-social-share type="gplus" width="24" height="24"></amp-social-share>
  </li>
  <li class="button">
    <amp-social-share type="pinterest" width="24" height="24"></amp-social-share>
  </li>
</ul>
