/* Typography */
$font-headers: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;

/* Colors */

// Primary text color
$primary-text: #2a2c2e;
$primary-subdued-text: #666;
$primary-faded-text: #CCC;
$header-text: #30373b;

// Color used as body background.
$primary-background: #fff;

// Hyperlink styling.
$link-color: #1f89ba;
$link-hover: #f1ca22;

// Not very important text.
$subdued-text: #999;

/* Shapes */

// Border radius of inputs and buttons.
$control-border-radius: 4px;

$grid-width: 700px;
